*
{
  width:auto;
  height:auto;

}
body
{
  background:black;
  background-repeat:no-repeat;
}
a
{
  text-decoration:none;
  color:#005081;
}

input[type="button"]
{
    font-size:20;
    color:#005081;
    width:80px;
    height:80px;
    padding:20px;
}
h3
{
  background:#005081;
  color:black;
}
#screen
{
  width:248px;
  height:55px;
}
table
{
  padding:10px;
  width:auto;
  height:auto;
}
#container
{
  width:auto;
  height:auto;
  margin-top:50px;
  margin-bottom:auto;
}
